@page "/"
@layout TopMenuLayout

<PageTitle>Niveau</PageTitle>

@if (CurrentWaterTank != null)
{
    @if (FireBeetleDevice != null)
    {
        <BatteryIndicator BatteryPercentage="@FireBeetleDevice.BatteryPercentage"></BatteryIndicator>
    }
    <MudStack Row="false">
        <MudPaper Class="pa-5 mt-3 d-flex justify-content-center" Elevation="2">
            <MudStack Row="false" Class="align-items-center">
                <MudText Typo="Typo.h3" Align="Align.Center">@CurrentWaterTank.Name</MudText>
                @if (CurrentWaterPercentage > 50)
                {
                    <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Success">@CurrentWaterPercentage %</MudText>
                }
                else if (CurrentWaterPercentage < 50 && CurrentWaterPercentage > 20)
                {
                    <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Secondary">@CurrentWaterPercentage %</MudText>
                }
                else if (CurrentWaterPercentage < 20)
                {
                    <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Error">@CurrentWaterPercentage %</MudText>
                }
                <div class="waterTank" style="--waterLevel:@GetWaterLevelPixels(CurrentWaterPercentage)"></div>
                <MudChip Size="Size.Large" Icon="@Icons.Material.Filled.WaterDrop" Color="Color.Info"><b>@Math.Round((((CurrentWaterTank.Volume * 1000) / 100) * CurrentWaterPercentage), 2)L</b></MudChip>
                <MudText Align="Align.Left"><i>Laatste update: @CurrentWaterLevel.DateTimeMeasured</i></MudText>
            </MudStack>
        </MudPaper>

    </MudStack>
}


@code{
    protected override async Task OnInitializedAsync()
    {
        await Initialize();
    }
}